{{ define "main" }}

  {{ .Content }}

<content>
  {{ if .Data.Singular }}
      {{- partial "title.html" . -}}

      <a href="{{ "events" | relURL }}">Remove filter</a>
    {{else}}
      {{ .Content }}

      <h1>Upcoming {{ .Title }}</h1>
    
      <!--
      <p>
        <div>
          {{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
          {{ end }}
        </div>
      </p>
      -->

      <div class="events-container">
        {{ range sort (where .Pages ".Params.date" ">" (now.Format "2006-01-02")) ".Params.date" "desc" }}
        <div class="event">
          {{ if .Params.cover }}
            {{ if .Date }}
            <span class="time">
              <i>
                {{ if in .Params.tags "Upcoming" }}
                <b>
                  UPCOMING
                </b>
                {{ end }}
                <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                  {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
                </time>
              </i>
            </span>
            {{ end }}
            <a href="{{ .Permalink }}"><img style="width: 100%;" src="{{ .Path }}/{{ .Params.cover }}"></a>
          {{ else }}
            {{ if .Date }}
            <span class="time">
              <i>
                <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                  {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
                </time>
              </i>
            </span>
            {{ end }}
          {{ end }}
          <h2 style="margin: 0;"><a class="page-title" href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <i>{{ .Summary }}</i>
        </div>
        {{ else }}
          <i>
            Something is brewing beneath the surface.<br>
            To us unbeknownst, yet here fly the whispers of gatherings past...
          </i>
        {{ end }}
      </div>

      <h1>Archive</h1>

      <div class="events-container">
        {{ range sort (where .Pages ".Params.date" "<" (now.Format "2006-01-02")) ".Params.date" "desc" }}
        <div class="event">
          {{ if .Params.cover }}
            {{ if .Date }}
            <span class="time">
              <i>
                <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                  {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
                </time>
              </i>
            </span>
            {{ end }}
            <a href="{{ .Permalink }}"><img style="width: 100%;" src="{{ .Path }}/{{ .Params.cover }}"></a>
          {{ else }}
            {{ if .Date }}
            <span class="time">
              <i>
                <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                  {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
                </time>
              </i>
            </span>
            {{ end }}
          {{ end }}
          <h2 style="margin: 0;"><a class="page-title" href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <i>{{ .Summary }}</i>
        </div>
        {{ end }}
      </div>

    {{ end }}

</content>
{{ end }}
  